.catalog {
    padding: 100px 0;
}




.catalog__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.catalog__card {

    aspect-ratio: 1.3/1;
    border-radius: 20px;
overflow: hidden;
background-repeat: no-repeat;
background-size: cover;

    .catalog_box {
        backdrop-filter: blur(0px);
        height: 100%;
        transition: 0.5s;
        opacity: 0;


        display: flex;
        justify-content: space-between;
        padding: 20px;
        align-items: start;
p {
    color: white;
}



button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: white;
    border-radius: 50%;
}


        &:hover {
            backdrop-filter: blur(20px);
             opacity: 1 ;
        }
       
    }


    &:nth-child(1) {
        background-image: url(https://framerusercontent.com/images/QVKFKT3dyGxloXfzzpurVKNMM6M.jpg?scale-down-to=1024);
    }

     
    &:nth-child(2) {
        background-image: url(https://framerusercontent.com/images/AX9PukosNfGVcfXw3YapiYpl9g.jpg?scale-down-to=1024);
    }



    &:nth-child(3) {
        background-image: url(https://framerusercontent.com/images/BAXywubxN8sAhfJg3AgGgFI.jpg?scale-down-to=1024);
    }

    &:nth-child(4) {
        background-image: url(https://framerusercontent.com/images/UbS7rWmAwWxjtwM7oaWwRuGo.jpg?scale-down-to=1024);
    }

    &:nth-child(5) {
        background-image: url(https://framerusercontent.com/images/UsIzZSIEbtvsjHRVk1VeyKNLA.jpg);
    }

    &:nth-child(6) {
        background-image: url(https://pbs.twimg.com/profile_images/1592521181718089730/rodkFiZf_400x400.jpg);
    }


}