.hero__title {
    text-align: center;
    font-size: 60px;
    max-width: 750px;
    margin: 130px auto 40px;
    font-weight: 600;
}


.hero_box {
display: flex;
gap: 15px;
justify-content: center;

p {
   padding: 8px 10px;
   background-color: rgb(227, 222, 222);
   border-radius: 40px;
}


}