.box__title {
display: flex;
flex-direction: column;
align-items: center;

h1 {
    font-weight: 500;
    font-size: 34px;
}

h2 {
    font-weight: 500;
    font-size: 34px;
    color: gray;
}
}