.nav {
    background-color: rgb(227, 222, 222);
    display: flex;
    justify-content: center;
    width: max-content;
    padding: 4px;
    border-radius: 40px;
    gap: 4px;
    margin: 0 auto;

    position: fixed;
    z-index: 99;
    backdrop-filter: blur(20px);
    top: 30px;

    transform: translateX(-50%);

    a {
        text-decoration: none;
        color: black;
        padding: 8px 25px;
        background-color: transparent;
        border-radius: 40px;
        transition: 0.6s;
        
        &:hover{
            background-color: white;
        }
    }
}



.header {
    padding: 30px 0;
    display: flex;
    justify-content: center;
}